        @-ms-viewport {
            width: device-width;
        }
        
        body {
            background-image: url(foto/portfolio-background-images.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
            background-size: cover;
            font-family: 'Roboto Slab', serif;
        }
        
        @media only screen and (max-width: 767px) {
            body {
                background-image: url(foto/portfolio-background-images.png);
            }
        }
        /*head*/
        
        .img-fluid {
            width: 100%;
            height: 850px;
        }
        
        .imgtext h1 {
            color: #D9DAD9;
            letter-spacing: 5px;
            text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        }
        
        .imgtext {
            position: absolute;
            background-color: transparent;
            left: 60px;
            top: 70px;
        }
        /*nav*/
        
        .navbar img {
            width: 60px;
        }
        /*section*/
        
        #section1 {
            height: auto;
        }
        
        #section2 {
            color: #D9DAD9;
        }
        
        #section3 {
            background-color: transparent;
            color: #D9DAD9;
        }
        
        #section41 {
            background-color: transparent;
            color: #D9DAD9;
            height: auto;
        }
        
        #section42 {
            margin-bottom: 100px;
            height: auto;
        }
        /*Col*/
        
        .col-8 {
            color: #D9DAD9;
            margin-left: 50px;
            margin-bottom: 250px;
        }
        
        .col-10 {
            margin-left: 30px;
        }
        
        .col-12 {
            text-align: center;
            padding-bottom: 10px;
            margin-bottom: 120px;
            color: #D9DAD9;
            letter-spacing: 2px;
        }
        /*Button*/
        
        .bttn {
            display: block;
            width: 100px;
            height: 33px;
            margin: 0px 20px 0px 0px;
            padding: 4px 0px 4px 0px;
            border: none;
            border-radius: 25px 0;
            background-color: #667787;
            color: #D9DAD9;
            font-size: 18px;
            font-weight: normal;
            cursor: hand;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
        }
        
        a:hover.bttn {
            background-color: #818784;
            color: #D9DAD9;
        }
        
        .titlelight {
            font-weight: 300;
            padding: 0;
            margin: 0;
        }
        
        .tab-text ul {
            padding: 0;
            font-weight: 400;
        }
        
        ul {
            padding: 0;
            margin: 0;
        }
        
        li {
            list-style-type: none;
        }
        
        a {
            color: #D9DAD9;
        }
        
        .personalia li:nth-child(even) {
            padding-bottom: 20px;
        }
        
        .spacesli li {
            line-height: 35px;
        }
        
        #space li {
            padding-bottom: 20px;
        }
        
        #bootcamp h1 {
            position: center;
        }
        /*img*/
        
        #hackaton img {
            margin-top: 70px;
            margin-bottom: 50px;
            box-shadow: 5px 5px 15px 10px black;
        }
        
        #wishlist img {
            width: 450px;
            box-shadow: 5px 5px 15px 10px black;
            Margin: 20px 0;
        }
        /*progress*/
        
        #progress {
            margin-top: 40px;
            height: 500px;
            padding-left: 50px;
            width: auto;
            margin-left: 20px;
            margin-bottom: 150px;
        }
        
        .progress {
            margin-top: 10px;
            margin-left: 10px;
            margin-bottom: 15px;
        }
        /*Icons*/
        
        .fa-html5 {
            color: #e34f26;
        }
        
        .fa-css3-alt {
            color: #1680C0;
        }
        
        .fa-file-code {
            color: #8A2BE2;
        }
        
        .fa-php {
            color: #D9DAD9;
            ;
        }
        
        .fa-js-square {
            color: #FFD700;
        }
        /*Slide*/
        
        .mySlides {
            display: none;
        }
        
        #turn {
            transform: rotate(90deg);
        }
        /*Social icons*/
        
        .social:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
        }
        
        .social {
            -webkit-transform: scale(0.8);
            /* Browser Variations: */
            -moz-transform: scale(0.8);
            -o-transform: scale(0.8);
            -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
        }
        
        #social-em:hover {
            color: #f39c12;
        }
        
        #social-in:hover {
            color: #0077B5;
        }
        
        #social-gi:hover {
            color: crimson;
        }
        
        #linked {
            color: white;
            ;
        }
        
        #git {
            color: white;
        }
        
        #linked:hover {
            color: #0077B5;
        }
        
        #git:hover {
            color: crimson;
        }
        /*footer*/
        
        footer {
            padding: 15px;
            margin-top: 40px;
            width: 100%;
            background: black;
            color: grey;
            text-align: center;
        }
        /*checklist programs*/
        
        .check {
            margin-left: 40px;
        }
        
        #check {
            color: green;
        }